:root {
    --main-color: linear-gradient(90deg,#3B82F6,#007CF0);
    --main-pseudo-line-color: linear-gradient(0deg, #007CF0, #FFF 100%);
    --about-pseudo-line-color: linear-gradient(0deg, #007CF0, #aad2ff13 100%);
}

.feature-icon {
    background-color: linear-gradient(90deg,#3B82F6,#007CF0);
}

.skill-icon-inner {
    background-color: #52555a;
    background-image: linear-gradient(45deg,rgba(255,253,232,0),rgba(253, 253, 247, 0.353));
    border-radius: 15px;
}

.icon-inner {
    background-color: #B4CFFA;
    border-radius: 15px;
}

.icon-inner .skill-icon {
    color: #FFF;
}

.skill-icon-inner:hover .skill-icon {
    color: #3B82F6;
}

.tool h3 {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--main-color);
}

.tool {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#tsparticles {
    height: 100%;
}

.fade-in {
    transition: opacity 1.75s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 1.75s ease;
}

.hero {
    background-image: url("./images/hero-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.frontend-tool {
    background-image: url("./images/frontend-tool.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 200px;
}

.backend-tool {
    background-image: url("./images/backend-tool.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 200px;
}

.tool-title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--main-color);
}

.section-title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--main-color);
}

.about-section-title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--main-color);
}

.skill-section-title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--main-color);
}

.project-section-title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--main-color);
}

.contact-section-title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--main-color);
}

.contact-container {
    background: var(--main-color);
}

.pseudo-element-about {
    background: var(--main-color);
}

.pseudo-element-skill {
    background: var(--main-color);
}

.pseudo-element-project {
    background: var(--main-color);
}

.button {
    background: var(--main-color);
}

.about-pseudo-line {
    background: var(--about-pseudo-line-color);
}

.skill-pseudo-line {
    background: var(--main-pseudo-line-color);
}

.project-pseudo-line {
    background: var(--main-pseudo-line-color);
}

.contact-pseudo-line {
    background: var(--main-pseudo-line-color);
}

.pseudo-element-contact {
    background: var(--main-color);
}

.description-title {
    background: linear-gradient(180deg,rgba(0,0,0,.8),#000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.description-element {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--main-color);
}

.contact-element:hover .arrowIcon {
    transform: translateX(5px);
    font-size: 20px;
}

.footer {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #FFF, rgb(226 232 240), #fff) 1;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.footer-title {
    background: linear-gradient(180deg,rgba(0,0,0,.8),#000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.company-element:hover .arrowFooterIcon {
    transform: translateX(5px);
}

.footer-contact-element:hover .footerContactIcon {
    transform: translateX(-5px);
}

@media only screen and (max-width: 1024px) {
    .footer-card {
        width: 30%;
    }
}

@media only screen and (max-width: 992px) {
    .tool {
        width: 40%;
    }

    .content {
        width: 100%;
    }

    .footer-container .footer-card:nth-child(2) {
        width: 50%;
    }
}

@media only screen and (max-width: 768px)  {
    .content, .app-descr {
        width: 100%;
        align-items: center;
    }

    .description-title, .description, .section-title {
        text-align: center;
        width: 100%;
    }

    .hero-title, .animation-element {
        font-size: 40px;
    }

    .description-title {
        font-size: 30px;
    }

    .tool {
        width: 40%;
    }

    .mobile-image, .contact-image {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 480px) {
    .hero p {
        width: 90%;
    }

    .tool {
        width: 100%;
    }

    .contact-element .description {
        font-size: 10px;
    }

    .contact-container {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-card, .footer-header {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .footer-card {
        height: auto;
    }

    .footer-body {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 280px) {
    .hero-title, .animation-element {
        font-size: 35px;
    }

    .contact-element .contactIcon {
        display: none;
    }
}
