#tsparticles {
    height: 100%;
}

.fade-in {
    transition: opacity 1.75s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 1.75s ease;
}

.hero {
    background-image: url("./images/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: blue;
  }

.skill {
    background-image: url("./images/skill-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frontend-tool {
    background-image: url("./images/frontend-tool.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backend-tool {
    background-image: url("./images/backend-tool.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tool-title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg,#7928ca,#ff0080);
}

.section-title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg,#007cf0,#00dfd8);
}

.about-section-title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg,#007cf0,#00dfd8);
}

.skill-section-title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg,#7928ca,#ff0080);
}

.project-section-title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg,#ff4d4d,#f9cb28);
}

.contact-section-title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #13A151, #91D8BD);
}

.contact-container {
    background: linear-gradient(to right, #13A151, #91D8BD);
}

.pseudo-element-about {
    background: linear-gradient(to right, #007CF0, #00C6F6);
}

.pseudo-element-skill {
    background: linear-gradient(to right, #7928ca, #ff0080);
}

.pseudo-element-project {
    background: linear-gradient(to right, #ff4d4d, #f9cb28);
}

.button {
    background: linear-gradient(to right, #ff4d4d, #f9cb28);
}

.about-pseudo-line {
    background: linear-gradient(0deg, #007CF0, #aad2ff13 100%);
}

.skill-pseudo-line {
    background: linear-gradient(0deg, #b8005c, #FFF 100%);
}

.project-pseudo-line {
    background: linear-gradient(0deg, #ff4d4d, #FFF 100%);
}

.contact-pseudo-line {
    background: linear-gradient(0deg, #13A151, #FFF 100%);
}

.pseudo-element-contact {
    background: linear-gradient(to right, #13A151, #91D8BD 100%);
}

.description-title {
    background: linear-gradient(180deg,rgba(0,0,0,.8),#000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.description-element {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg,#007cf0,#00dfd8);
}

.contact-element:hover .arrowIcon {
    transform: translateX(5px);
    font-size: 20px;
}

.navbar {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #FFF, rgb(226 232 240), #fff) 1;
    border-left: none;
    border-right: none;
    border-top: none;
}

.footer {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #FFF, rgb(226 232 240), #fff) 1;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.footer-title {
    background: linear-gradient(180deg,rgba(0,0,0,.8),#000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.company-element:hover .arrowFooterIcon {
    transform: translateX(5px);
}

.footer-contact-element:hover .footerContactIcon {
    transform: translateX(-5px);
}

.xIcon:hover {
    font-size: 23px;
}

@media only screen and (max-width: 992px) {
    .tool {
        width: 40%;
    }

    .content {
        width: 100%;
    }
}

@media only screen and (max-width: 768px)  {
    .content, .app-descr {
        width: 100%;
        align-items: center;
    }

    .description-title, .description, .section-title {
        text-align: center;
        width: 100%;
    }

    .hero-title, .animation-element {
        font-size: 40px;
    }

    .description-title {
        font-size: 30px;
    }

    .tool {
        width: 40%;
    }

    .mobile-image, .contact-image {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 480px) {
    .hero p {
        width: 90%;
    }

    .tool {
        width: 100%;
    }

    .contact-element .description {
        font-size: 10px;
    }

    .contact-container {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-card, .footer-header {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .footer-body {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

@media only screen and (max-width: 280px) {
    .hero-title, .animation-element {
        font-size: 35px;
    }

    .contact-element .contactIcon {
        display: none;
    }
}
